.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.item {
    flex-direction: row;
    text-align: center;
}
.item img {
    width: 80px;
    height: 100px;
    border-radius: 10PX;
}
.item P {
    text-align: center;
}
